*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}

body{
    font-family: sans-serif;
    color: rgb(4, 64, 39);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, h1, h2{
    padding: 15px;
}

button{
    margin: 10px;
    background: rgb(15, 84, 186);
    padding: 10px 30px;
    border-radius: 5px;
    color: antiquewhite;
}



